input[type="submit"]:disabled {
  background: #dddddd;
}
div.prev_div ~ div.next_div {
  margin: 10px;
}
.additional {
  color: red;
}
.paggination {
  display: flex;
}
.active-link {
  color: red;
  background: red;
}
.paggination {
  list-style-type: none;
}
.page-link {
  padding: 10px;
}
